 <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-1">
            <h1 class="display-5 fw-bold">User Details</h1>
            <hr>
            <ul style="list-style-type: none;">
            <li style="padding:3px;"><strong>Name:</strong> <%= @user.fname%> <%= @user.lname%></li>
            <li style="padding:3px;"><strong>Email:</strong> <%= @user.email%></li>
            <li style="padding:3px;"><strong>DOB:</strong> <%= @user.dob%></li>
            <li style="padding:3px;"><strong>Phone:</strong> <%= @user.phone%></li>
            <li style="padding:3px;"><strong>Designation:</strong> <%= @user.designation%></li>
            <li style="padding:3px;"><strong>Role:</strong> <%= @user.role %> </li>
            <li style="padding:3px;"><strong>Address:</strong> <%= @user.address%></li>
            </ul>
        </div>
      </div>

    </div>